@model IEnumerable<UserProfile.Models.SocialDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="SocialDetails" asp-action="Index">
    <p>
        User Email: <input type="text" name="SearchStringSocial">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>  Email </th>
            <th>
                Profile Image
            </th>

            <th>
             Friend's Email
            </th>
            <th>Social Controls</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profileImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.friendsEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
